[Desktop Entry]
Type=Application
Exec=gnome-terminal -- bash -c "bash /home/kuper/start.sh; exec bash"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=test
Name=test
Comment[en_US]=
Comment=
